<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
  <meta property="og:title" content="{{ if ne .Params.url "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}" />
  {{ with .Site.Params.themecolor }}
    <meta name="theme-color" content="{{ . }}" />
  {{ end }}
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  {{ with .Params.images }}
    {{ range first 5 . }}
      <meta property="og:image" content="{{ . }}" />
    {{ end }}
  {{ end }}
  {{ if .IsPage }}
    <meta property="og:type" content="article" />
    {{ with .Site.Params.facebook }}
      <meta property="og:article:author" content="https://facebook.com/{{ . }}" />
    {{ end }}
    <meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />
    {{ range .Params.tags }}
      <meta property="og:article:tag" content="{{ . }}" />
    {{ end }}
  {{ else }}
    <meta property="og:type" content="website" />
  {{ end }}

  <title>
    {{ if ne .Params.url "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}
  </title>

  <link rel="alternative stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/fontawesome.all.min.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/github.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/color-theme.css" />
  <link href="//fonts.googleapis.com/css2?family=Libre+Baskerville&family=Uncial+Antiqua&display=swap" rel="stylesheet" />
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}images/favicon.ico" />
  <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}images/apple-touch-icon.png" />

  {{ range .Site.Params.customCSS }}
    <link rel="stylesheet" href="{{ (print "css/" . ) | absURL }}" />
  {{ end }}

  {{ if eq .Params.url "/" }}
    <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}
</head>
<body>
  {{ if isset .Params "image" }}
  <header class="global-header"  style="background-image:url({{ .Params.image }})">
  {{ else }}
  <header class="global-header"  style="background-image:url({{ "images/page_header_background_3000_x_333.png" | absURL }})">
  {{ end }}
    <section class="page-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1">
            </div>
          <div class="col-md-2">
            <div class="logo-img-container">
          <img class="logo" src="{{ .Site.BaseURL }}images/logo_transparent_background.png">
            </div>
          </div>
          <div class="col-md-8">
          <div class="row">
            {{ with .Site.Title }}
            <div class="col-md-12">
              <h1 class="page-title">
                {{ . }}
              </h1>
            {{ end }}
            </div>
          </div>
          <div class="row">

      {{ with .Site.Params.subtitle }}
      <div class="col-md-12">
        <h2 class="page-title">
          {{ . }}
        </h2>
      </div>
          </div>
      {{ end }}
      <!-- sites -->
          </div>
          <div class="col-md-1">
        {{ partial "page_link.html" . }}
          </div>
      </div>
      <div class="row">
          <div class="navbar-lang-container">
          <div class="navbar-container">
            {{ range .Site.Menus.main }}
              <a class="btn btn-default navbar-item" href="{{ .URL | absLangURL | safeURL }}">
              {{ .Name }}
              </a>
            {{ end }}
          </div>
          <!-- Languages -->
          {{ $url := urls.Parse .Permalink }}
          <!-- The url.Host has only the domain in it -->
          {{ $address := print $url.Scheme "://" $url.Host }}
          <!-- Dirrerence between address and base URL. This could result in "" or "/beta/" or similar. -->
          {{ $i18nBasePath := strings.TrimPrefix $address .Site.BaseURL }}
          <!-- Path like "/beta/" attached with the language code. E.g. "/beta/de" -->
          {{ $pathPrefix := print $i18nBasePath .Language.Lang }}
          <!-- This will get the path to the resource from the language code and beyond -->
          {{ $path := strings.TrimPrefix $pathPrefix $url.Path }}

            {{ if .IsTranslated }}
            <div class="language-container">
              {{ range .Translations }}
                {{ $svgFile := print "static/svgs/" .Language.Lang ".svg" }}
                <a class="btn btn-default language-button" href="{{ .Permalink }}">{{ $svgFile | readFile | safeHTML }}</a>
              {{ end }}
              </div>
            {{ end }}
          </div>
      </div>
    </div>
    </section>
  </header>
  <main class="container">
