{{- $is_video_post :=  (isset .Params "is_video_post") | default false }}
<article>
  <header>
    <h2 class="li-h2"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <div class="clearfix">
      <div class="post-date pull-left">
        <span class="li-small">
          {{ i18n "postedOn" }}
          {{ .Date.Format ( i18n "dateTimeFormat" ) }}
        </span>
      </div>
    </div>
  </header>
  <div>
    {{ if (isset .Params "summary") }}
      {{ markdownify .Params.Summary }}
    {{ else }}
      {{ .Summary }}
    {{ end }}
  </div>
  <footer>
    <div class="read-more-container">
      <a class="btn btn-primary" href="{{ .Permalink }}">
        <div>
          {{ if and (isset .Params "is_video_post") (eq .Params.is_video_post true)}}
            {{ i18n "seeMore" }} <span aria-hidden="true">&rarr;</span>
          {{ else }}
            {{ i18n "readMore" }} <span aria-hidden="true">&rarr;</span>
          {{ end }}
        </div>
      </a>
    </div>
  </footer>
</article>
