.header-text h1 a {
    font-size: 0px;
}

.btn-default {
    color: #000000;
    border-color: transparent;
    font-size: 20px;
}

.btn-default:focus,
.btn-default:hover {
    border-color: transparent;
    border-radius: 1px;
    background-color: #ffffff00;
}

.embedded-image:hover,
.embedded-image:focus {
    border: 1px solid #3d3d3d;
}

/* Note box */
.note {
	border-left: 3px solid #3d3d3d;
}

.global-header {
    max-width: 1100px;
    background-position: center;
    margin: auto;
}

.navbar-container {
    bottom: -5px;
    font-family: "Baskerville, Times, serif";
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Baskerville, Times, serif" !important;
}